<h1>Course catalog</h1>
<button class="btn btn-info show-registered-courses" (click)="showRegisteredCourses()">Show Registered Courses</button>
<div *ngFor="let course of courses" class="course-content">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <a [routerLink]="['../course-content', course.id ]">{{course.code}} - {{course.name}} - {{course.department.name}} {{getPrerequisite(course)}}</a>
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show course-content" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    {{course.description}}<br>
                </div>
                <div *ngIf="isEnrolled(course); else elseBlock">
                    <span class="badge {{getBadgeClass(course)}} course-enrolled">{{getBadgeText(course)}}</span>
                </div>

                <ng-template #elseBlock>
                    <button class="btn btn-primary course-enrolled" (click)="enroll(course)">Register</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>

