.course-enrolled {
    font-size: 16px;
    margin: 10px;
    margin-top: 0px;
}

.course-content {
    margin-top: 15px;
}

.show-registered-courses {
    position: absolute;
    right: 20px;
    top: 20px;
}
